body {
  font-family: monospace;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: 4em;
  margin: 0;
  color: #fff;
}

.site-title {
  color: white;
  text-decoration: none;
}

.site-title:hover {
  text-decoration: underline;
}


.intro {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
  color: #ddd;
  font-size: 1.2rem;
}

.intro a {
  color: #fff;
  text-decoration: underline;
}

.posts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.posts li {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.posts span {
  display: inline-block;
  width: 120px;
  color: #888;
}

.posts a {
  color: #00aaff;
  text-decoration: none;
}

.posts a:hover {
  text-decoration: underline;
}

.pagination {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #888;
}

footer {
  margin-top: 4rem;
  font-size: 0.8rem;
  color: #666;
  text-align: center;
}

.social-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.social-list li {
  margin-bottom: 1rem;
}

.social-list a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-list img {
  width: 24px;
  height: 24px;
  filter: invert(100%); /* gjør ikonene hvite på mørk bakgrunn */
  transition: transform 0.2s ease;
}

.social-list a:hover img {
  transform: scale(1.2);
}

.pill-button {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  transition: background-color 0.2s ease;
  background-color: transparent;
  font-size: 1rem;
  margin: 1rem 0;
}

.pill-button:hover {
  background-color: white;
  color: black;
}