body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: #fff;
}

#posts-list {
    list-style: none; /* Removes the default bullet icons */
    padding-left: 0;  /* Optional: remove left padding */
}

a:visited {
    color: inherit;
}

/* Apply your preferred link color and remove underline */
a:link,
a:visited {
  color: #fff;          /* Change #000 to your desired color */
  text-decoration: none; 
}

/* Optionally, add a hover effect */
a:hover {
  color: #fff;          /* Slightly different color on hover */
  text-decoration: underline;
}

/************************************HOME*************************************/
#home-page main {
    background: black;
    color: #fff;
}

#home-page h1, h2 {
    margin: 10px 0;
    color: #fff;
}
/************************************HOME*************************************/

/************************************ABOUT************************************/
#about-page .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: #fff;
}

#about-page .profile {
    text-align: center;
    margin-bottom: 30px;
}

#about-page .profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

#about-page h1, h2 {
    margin: 10px 0;
    color: #fff;
}

#about-page .card {
    background: #353630;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#about-page .social-links {
    text-align: center;
    margin-top: 20px;
}

#about-page .social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
}
/************************************ABOUT************************************/

/************************************BLOG*************************************/
#blog-page main {
    background: black;
    color: #fff;
}

#blog-page h1, h2 {
    margin: 10px 0;
    color: #fff;
}
/************************************BLOG*************************************/