/* Shared grid styling for both pages */
.posts-grid, .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  /* Shared post block styling for both pages */
  .post-block, .project-block {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .post-block:hover, .project-block:hover {
    transform: translateY(-5px);
  }
  
  .post-block h2, .project-block h2 {
    margin: 0 0 10px;
  }
  
  .post-block p, .project-block p {
    color: #555;
    font-size: 0.9em;
  }
  
/*Light mode and dark mode*/
/* Light Mode (default) */
body {
  background-color: white;
  color: black;
}

.toc-container {
  background-color: #f8f9fa;
  color: black;
}

/* Dark Mode */
body.dark-mode {
  background-color: #2e2e2e;
  color: white;
}

.toc-container.dark-mode {
  background-color: #444;
  color: white;
}

/* Button Styles */
.mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.mode-toggle.dark-mode {
  background-color: #444;
}

header.dark-mode {
  background-color: #333;
}

footer.dark-mode {
  background-color: #222;
}

a.dark-mode {
  color: #76c7c0;
}

/* About Page Styling */
.about-page {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
}

.about-page img {
  width: 150px;  /* Adjust width */
  height: 150px; /* Adjust height */
  object-fit: cover; /* Ensures uniform scaling */
  border-radius: 50%; /* Optional: Makes it circular */
}

.about-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-page table {
  margin: 1.5rem auto;
  border-collapse: collapse;
}

.about-page table td,
.about-page table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.about-page table th {
  font-weight: bold;
  background-color: #f4f4f4;
}

.about-page .highlight {
  font-weight: bold;
  color: #0073e6;
}